<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Wine Quality Prediction</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
            <form class="space-y-6" action="/predict" method="post">
                <center>
                    <h2 class="text-3xl font-bold text-blue-600 mb-6">Predict Wine Quality</h2>
                </center>

                <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                    <div class="form-group">
                        <label for="fixed_acidity" class="block text-gray-700">Fixed Acidity:</label>
                        <input type="text" name="fixed_acidity" id="fixed_acidity"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Fixed Acidity"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="volatile_acidity" class="block text-gray-700">Volatile Acidity:</label>
                        <input type="text" name="volatile_acidity" id="volatile_acidity"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                            placeholder="Volatile Acidity" required>
                    </div>

                    <div class="form-group">
                        <label for="citric_acid" class="block text-gray-700">Citric Acid:</label>
                        <input type="text" name="citric_acid" id="citric_acid"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Citric Acid"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="residual_sugar" class="block text-gray-700">Residual Sugar:</label>
                        <input type="text" name="residual_sugar" id="residual_sugar"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Residual Sugar"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="chlorides" class="block text-gray-700">Chlorides:</label>
                        <input type="text" name="chlorides" id="chlorides"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Chlorides"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="free_sulfur_dioxide" class="block text-gray-700">Free Sulfur Dioxide:</label>
                        <input type="text" name="free_sulfur_dioxide" id="free_sulfur_dioxide"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                            placeholder="Free Sulfur Dioxide" required>
                    </div>

                    <div class="form-group">
                        <label for="total_sulfur_dioxide" class="block text-gray-700">Total Sulfur Dioxide:</label>
                        <input type="text" name="total_sulfur_dioxide" id="total_sulfur_dioxide"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                            placeholder="Total Sulfur Dioxide" required>
                    </div>

                    <div class="form-group">
                        <label for="density" class="block text-gray-700">Density:</label>
                        <input type="text" name="density" id="density"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Density"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="pH" class="block text-gray-700">pH:</label>
                        <input type="text" name="pH" id="pH"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="pH" required>
                    </div>

                    <div class="form-group">
                        <label for="sulphates" class="block text-gray-700">Sulphates:</label>
                        <input type="text" name="sulphates" id="sulphates"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Sulphates"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="alcohol" class="block text-gray-700">Alcohol:</label>
                        <input type="text" name="alcohol" id="alcohol"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Alcohol"
                            required>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit"
                        class="w-full py-2 bg-blue-600 text-white font-bold rounded-md hover:bg-blue-700">Predict</button>
                </div>
            </form>

        </div>


    </div>
    <div class="bg-blue-600 h-full">
        <h1 class="text-3xl font-bold text-white mb-6">Created by Dhruv....</h1>

    </div>
</body>

</html>